/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}


.category-image {
  width: 83.24px !important;
}

.btn-harga {
  background-color: #fa5a96;
  color: white;
  border-radius: 4px;
}

.btn-lainnya {
  background-color: #fa5a96;
  color: white;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-sort {
  background-color: white;
  color: black;
  border-radius: 4px;
}

.css-8m8l0c-MuiTabs-indicator {
  height: 3px !important;
}

#outlined-basic:focus {
  outline: none !important;
  border: 0px solid #fa5a96;
  box-shadow: 0 0 1px #719ece;
}

#outlined-basic {
  outline: none !important;
  border: 1px solid rgb(203 213 225);
}

.input:focus {
  outline: none !important;
  border: 1px solid #fa5a96;
  box-shadow: 0 0 1px #719ece;
}

.react-date-picker__wrapper {
  padding: 8px 12px;
  width: 100%;
  border: 1px solid rgb(203 213 225);
}

select:focus {
  outline: none !important;
  border: 1px solid #fa5a96;
  box-shadow: 0 0 1px #719ece;
}

input[type="number"]:focus {
  --tw-ring-color: white !important;
}

input[type="text"]:focus {
  --tw-ring-color: white !important;
}

input[type="email"]:focus {
  --tw-ring-color: white !important;
}

input[type="checkbox"]:checked {
  background-color: #fa5a96 !important;
}

input[type="checkbox"]:focus {
  --tw-ring-color: white !important;
}

textarea:focus {
  --tw-ring-color: white !important;
}

.w-fit {
  width: 100% !important;
}

[data-testid="flowbite-tooltip"] {
  width: 100% !important;
}

.image-gallery {
  width: auto;
  height: auto;
  object-fit: fill;
}

select {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important; 
}


