@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.font-roboto {
  font-family: "Roboto";
}

.font-quicksand {
  font-family: "Quicksand";
}

svg.star-svg {
  display: inline;
}

svg.ml-2.h-4.w-4 {
}

svg.h-6.w-6.shrink-0:hover {
  background-color: transparent;
}
